@import url('https://api.fontshare.com/v2/css?f=zodiak&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background-image: url(/cool-background.png);
  background-image: url('/cool-background.png');
  background-size: cover; /* Ensures it fills the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 100vh; /* Ensures it fills the full screen */
  width: 100%; /* Ensures full width */
}

.myBackgroundImage {
  
}

h1 {
  padding: 1rem;
  font-size: x-large;
  font-family: 'Zodiak';
  
}
